body{
    background-color:#E4E5E8FF;
}
#tevas{
    display: block;
    width: 500px;
    margin-top: 220px;
    margin-left: 400px;
    background-color: #E4E5E8FF;

}
#kaire{
    margin-top: 0;
    display: inline-block;
    width: 50%;
    background-color: #E4E5E8FF;
    text-align: center;
    font-family: 'Racing Sans One', cursive;
    font-size: 20px;
    
}
#desine{

    display: inline-block;
    width: 50%;
    float: left;
    background-color: #E4E5E8FF;
    margin:0;
}
h1{
    display: inline-block;
    width: 100%;
    margin:0;
    margin-bottom: 10px;
    font-size:80px;
}
p{
    display: inline-block;
    width: 100%;
   
}
#antras{
    font-size: 12px;
}
a{
    display: inline-block;
    padding: 8px;
    background-color: gray;
    color: white;
    text-decoration: none;
    text-size: 5px;
    
}