body{
    background-color:#E4E5E8FF;
}
#tevas{
    display: block;
    width: 600px;
    margin-top: 120px;
    margin-left: 400px;
    background-color: green;

}
#kaire{
    display: inline-block;
    width: 50%;
    background-color: yellow;
    text-align: center;
    
}
#desine{

    display: inline-block;
    width: 50%;
    float: left;
    background-color: red;
}
h1{
    display: inline-block;
    width: 100%;
    margin:0;
    margin-bottom: 10px;
}
p{
    display: inline-block;
    width: 100%;
   
}
#antras{
    font-size: 14px;
}
a{
    display: inline-block;
    padding: 20px;
    background-color: gray;
    color: white;
   
}